 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/90d25ccb-7f98-4500-90b4-805c83164fce.png');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1092px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 58px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 24px auto 0;
}

.u-section-1 .u-image-1 {
  height: 803px;
  margin-top: 43px;
  margin-bottom: 58px;
}